<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List:</title>
</head>
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <div class="banner">
            <div class="banner-text">
                <h1><i>To Do List for household works:</i> </h1>
            </div>

        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
               {% csrf_token %}
            <div class="form-group">
                <label> Taskname: </label><input type="text" class="form-control" name="task" placeholder="Task:"><br>
            </div>

        <div class="form-group">
            <label> Priority: </label><input type="text" class="form-control" name="priority" placeholder="Enter the priority:"><br>
        </div>
                <div class="form-group">
            <label> Date: </label><input type="date" class="form-control" name="date" placeholder="Enter the date:"><br>
                </div>

                <input type="submit" class="btn btn-success">
            </form>

        </div>
        <div class="col-md-6">
            <h4> Task to be completed:</h4>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                <h5 class="card-title"> {{i.name}}</h5>
                <p> <b> {{i.priority}}</b></p>
                     <p> <b> {{i.date}}</b></p>
                <a class="btn btn-danger" href="{% url 'delete' i.id %}"> DONE</a>
                <a class="btn btn-success" href="{% url 'update' i.id %}"> Edit</a>
                </div>
            </div>

            {% endfor %}

        </div>
</div>




 </div>

{% endblock %}
</div>
</body>
</html>