<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:DarkKhaki;">

{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            Task Update
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}

             <button class="btn btn-danger" type="submit" >OK</button>


            </form>

        </div>

    </div>
</div>


{% endblock %}


</body>
</html>